.logo {
	z-index: 9999;
	float: left;
	top: 10px;
	left: 10px;
	position: fixed;
}

#loader {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 80px;
	height: auto;
	margin-left: -40px;
	margin-top: -40px;
}

#loading_title{
	text-align: center;
	color: $primary-color;
	position: absolute;
	top: 35%;
	height: 10%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 999;
}

h1 #highlight {
	color: #FA584F !important;
}


a {
	text-decoration: none;
}



/*Home Page*/

#section0 .right-side {
	float: right;
	width:40%;
	padding-right: 5%;
}

#section0 .right-side h1{
	text-align: left;
	font-family: 'LeagueGothicRegular', "Impact", Charcoal, Arial Black, Gadget, Sans serif;
	text-transform: uppercase;
	color: #FA584F;
	font-weight: normal;
	word-spacing: 0px;
	letter-spacing: -0.75px;
	font-size: 10em;
	display: block;
	line-height: 0.5;
	white-space: nowrap;
}




/*About Page*/
#section1 {
	background-image: url(imgs/bg2_blur.png); 
}
#section1 h1, h2, a{
	color: white !important;
}
#section1 .quote {
	padding: 10% 6% 6% 6%;

}



/*Examples Page*/
#section2 .header{
	padding-top: 6%;
	text-transform: uppercase;
	color: white;
}
#section2 .left_side{
	float: left;
	width:40%;
	padding-left: 5%;
	padding-top:2%;
}
#section2 .wording p {
	margin: 1em 0;
	color: white;
	font-size: 1.7em;
	line-height: 1.5em;
}
#section2 .example {
	font-size: 3.5em;
	padding-top: 50%;
}

/*Pricing Page*/
#section3 .header{
	padding-top: 6%;
	text-transform: uppercase;
	color: white;
}
#section3 .left_side{
	float: left;
	width:60%;
	padding-left: 5%;
	padding-top:10%;
	text-align: left;
}
#section3 p#white {
	margin: 1em 0;
	color: white;
	font-size: 1.7em;
}
#section3 p#gray {
	margin: 1em 0;
	color: white;
	text-decoration: underline;
	font-size: 1.7em;
}



/*Contact Page*/
#section4 .left_side{
	float: left;
	width:60%;
	padding-left: 5%;
	padding-top:10%;
	text-align: left;
	color:white;
	line-height: 1.8em;
	font-size: 120%;
}



.bg-overlay{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: -1;
	position: absolute;
	float: left;
}


